{% extends "portal/base.html" %}

{% load static %}

{% block title %}
Sociovate
{% endblock %}

{% block body %}
   <section id="home">
      <div class="content">
            <h1><img src="{% static 'portal/Images/logo.png' %}" alt=""></h1><br>
            <p>
              Intro content
            </p>
            <a href="{% url 'register_view' %}"><button class="btn-primary">Get Started</button></a>
        </div>
    </section>
        
    <section id="about">
        <div class="content">
          <h1>About</h1>
          <p><span>Ideate and implement an innovative solution to a problem statement! </span></p>
          <br>
          <p>
            about more
          </p>
        </div>
    </section>

    <footer>
        <p>© Copyright 2023, IET-VIT</p>
    </footer>

{% endblock %}