{% load static %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/home_styles.css' %}">
    <link rel="stylesheet" href="{% static 'portal/navbar_styles.css' %}">
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% include 'portal/includes/navbar.html' %}
    <div class="main">
      <div class="first-div">
        <img  class="mountains" src="{% static 'portal/images/Pasted Graphic.png' %}" alt="">
        <div class="logos-title">
          <div class="collab">
            <img  class="IET-logos" src="{% static 'portal/images/Pasted Graphic 1.png' %}" alt="">
            <img class="X-logos" src="{% static 'portal/images/Pasted Graphic 3.png' %}" alt="">
            <img class="IXDA-logos" src="{% static 'portal/images/Pasted Graphic 2.png' %}" alt="">
          </div>
          <div class="event">
            <img  class="sociovate" src="{% static 'portal/images/Pasted Graphic 4.png' %}" alt="">
          </div>
        </div>
        <div class="buttons">
          <div class="text-sumn">
            <p class="text-s">A sustainable development ideathon+designathon</p>
          </div>
          <div class="register-btn">
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}"><button class="reg">Dashboard</button></a>
            {% else %}
            <a href="{% url 'register_view' %}"><button class="reg">Register now</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <section id="about">
    <div class="second-div">
      <div class="what">
        What is Sociovate?
      </div>
      <div class="desc">An overnight offline ideathon & designathon collaboratively organised by Interaction Design Association (IxDA) and The Institution of Engineering and Technology(IET) at VIT-Vellore. The event expects to see over 250 participants. It aims to spotlight unique and innovative ideas over 33 hours on 17 SDG principles and design a prototype, from 18th to 19th March.</div>
      <div class="regnow">
        <a href="{% url 'register_view' %}" id="register_a"><p>-> Register now</p></a>
        <u>Make an Impact on Social Development</u>
      </div>
    </div>
    </section>
    {% include 'portal/includes/timeline.html' %}
    <section id="tracks">
      <br>
    <div class="third-div">
      <div class="tracktitle"><h1>Tracks</h1></div>
      <div class="sdgs">
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 5.png' %}" alt="">
          <p class="sdgtitle">Waves of Wellness</p>
          <p class="sdgdesc">Find more efficient ways to promote healthier living habits and to enhance the well-being of people of all ages.</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 11.png' %}" alt="">
          <p class="sdgtitle">Evolution of Education</p>
          <p class="sdgdesc">Devise tools that ensure inclusive and equitable education, ultimately encouraging lifelong learning opportunities for all individuals</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 12.png' %}" alt="">
          <p class="sdgtitle">Clean Crusade</p>
          <p class="sdgdesc">Develop solutions to assure access to affordable, dependable, sustainable, and modern energy resources for all.</p></div>
        <div  class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 13.png' %}" alt="">
          <p class="sdgtitle">Pursuit of Prosperity</p>
          <p class="sdgdesc">Identify and implement strategies to promote economic growth as well as productive employment, and decent work opportunities for everyone.</p></div>
        <div  class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 14.png' %}" alt="">
          <p class="sdgtitle">Eco Empowerment</p>
          <p class="sdgdesc"> Reimagine cities and human settlements to foster better inclusivity, safety, resilience, and sustainability.</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 15.png' %}" alt="">
          <p class="sdgtitle">Climate Catalysis</p>
          <p class="sdgdesc">Cultivate and effectuate improved methods to combat the various consequences of climate change.</p></div>
          
      </div>
    </div>  
    </section>
    
    <section id="aboutus">
    <div class="fourth-div">
      <br>
      <div class="aboutustitle">
        <br><h1>About Us</h1>
      </div>
      <img class="cloud-1" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-2" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-3" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-4" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <div class="contain">
        <div class="containers">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 8.png' %}" alt="">
          <p class="chapt"><strong>IET<strong></p>
          <p class="fullname">Institute of Engineering &<br>Technology</p>
        </div>
        <div class="containers">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 7.png' %}" alt="">
          <p class="chapt"><strong>IXDA</strong></p>
          <p class="fullname">Interaction Design Association</p>
        </div>
      </div>
    </div>
    </section>
    
    <section id="contactus">
      <div id="flexrow">
        <div id="getintouch">
          <h2>Get in touch with us</h2>
        </div>
        <div id="numbers">
            
          <div id="name1">
            <p>Jatin Jakhar</p>
            <p>1234567890</p>
          </div>
          <div id="name2">
            <p>Umang Naulakha</p>
            <p>0987654321</p>
          </div>
        </div>
      </div>
      <div>
        <div class="social-links">
          <span>www.sociovate.co <hr> <i class="fa fa-instagram" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Instagram</b></i><i class="fa fa-twitter" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Twitter</b></i><i class="fa fa-linkedin"  style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">LinkedIn</b></i></span>
        </div>
        <div class="social-links">
          <span>www.sociovate.co <hr> <i class="fa fa-instagram" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Instagram</b></i><i class="fa fa-twitter" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Twitter</b></i><i class="fa fa-linkedin"  style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">LinkedIn</b></i></span>
        </div>
      </div>
    </section>
    <script src="{% static 'portal/scripts/script.js' %}"></script>
  </body>
</html>
