{% load static %}

<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/home_styles.css' %}">
    <link rel="stylesheet" href="{% static 'portal/navbar_styles.css' %}">
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% include 'portal/includes/navbar.html' %}
    <div class="main">
      <div class="first-div">
        <img  class="mountains" src="{% static 'portal/images/Pasted Graphic.png' %}" alt="">
        <div class="logos-title">
          <div class="collab">
            <img  class="IET-logos" src="{% static 'portal/images/Pasted Graphic 1.png' %}" alt="">
            <img class="X-logos" src="{% static 'portal/images/Pasted Graphic 3.png' %}" alt="">
            <img class="IXDA-logos" src="{% static 'portal/images/Pasted Graphic 2.png' %}" alt="">
          </div>
          <div class="event">
            <img  class="sociovate" src="{% static 'portal/images/Pasted Graphic 4.png' %}" alt="">
          </div>
        </div>
        <div class="buttons">
          <div class="text-sumn">
            <p class="text-s">A sustainable development ideathon+designathon</p>
          </div>
          <div class="register-btn">
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}"><button class="reg">Dashboard</button></a>
            {% else %}
            <a href="{% url 'register_view' %}"><button class="reg">Register now</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <section id="about">
    <div class="second-div">
      <div class="what">
        What is Sociovate?
      </div>
      <div class="desc">An overnight offline ideathon & designathon collaboratively organised by Interaction Design Association (IxDA) and The Institution of Engineering and Technology(IET) at VIT-Vellore. The event expects to see over 250 participants. It aims to spotlight unique and innovative ideas over 33 hours on 17 SDG principles and design a prototype, from 18th to 19th March.</div>
      <div class="regnow">
        <a href="{% url 'register_view' %}" id="register_a"><p>-> Register now</p></a>
        <u>Make an Impact on Social Development</u>
      </div>
    </div>
    </section>

    <section id="tracks">
      <br>
    <div class="third-div">
      <div class="tracktitle"><h1>Tracks</h1></div>
      <div class="sdgs">
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 5.png' %}" alt="">
          <p class="sdgtitle">Waves of Wellness</p>
          <p class="sdgdesc">Find more efficient ways to promote healthier living habits and to enhance the well-being of people of all ages.</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 11.png' %}" alt="">
          <p class="sdgtitle">Evolution of Education</p>
          <p class="sdgdesc">Devise tools that ensure inclusive and equitable education, ultimately encouraging lifelong learning opportunities for all individuals</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 12.png' %}" alt="">
          <p class="sdgtitle">Clean Crusade</p>
          <p class="sdgdesc">Develop solutions to assure access to affordable, dependable, sustainable, and modern energy resources for all.</p></div>
        <div  class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 13.png' %}" alt="">
          <p class="sdgtitle">Pursuit of Prosperity</p>
          <p class="sdgdesc">Identify and implement strategies to promote economic growth as well as productive employment, and decent work opportunities for everyone.</p></div>
        <div  class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 14.png' %}" alt="">
          <p class="sdgtitle">Eco Empowerment</p>
          <p class="sdgdesc"> Reimagine cities and human settlements to foster better inclusivity, safety, resilience, and sustainability.</p></div>
        <div class="sdgg">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 15.png' %}" alt="">
          <p class="sdgtitle">Climate Catalysis</p>
          <p class="sdgdesc">Cultivate and effectuate improved methods to combat the various consequences of climate change.</p></div>
          
      </div>
    </div>  
    </section>
    {% include 'portal/includes/navbar.html' %}
    <section id="aboutus">
    <div class="fourth-div">
      <br>
      <div class="aboutustitle">
        <br><h1>About Us</h1>
      </div>
      <img class="cloud-1" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-2" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-3" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <img class="cloud-4" src="{% static 'portal/images/Pasted Graphic 9.png' %}" alt="">
      <div class="contain">
        <div class="containers">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 8.png' %}" alt="">
          <p class="chapt"><strong>IET<strong></p>
          <p class="fullname">Institute of Engineering &<br>Technology</p>
        </div>
        <div class="containers">
          <img class="sdgimg" src="{% static 'portal/images/Pasted Graphic 7.png' %}" alt="">
          <p class="chapt"><strong>IXDA</strong></p>
          <p class="fullname">Interaction Design Association</p>
        </div>
      </div>
    </div>
    </section>
    {% include 'portal/includes/timeline.html' %}
    <section id="contactus">
      <div id="flexrow">
        <div id="getintouch">
          <h2>Get in touch with us</h2>
        </div>
        <div id="numbers">
          
          <svg width="300" height="96" viewBox="0 0 564 144" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.35">
            <path opacity="0.25" d="M-1.39937 165.945C3.75794 162.999 125.376 109.398 125.376 109.398L134.221 120.983L228.568 64.2295L248.47 78.9745L327.337 26.6439L356.82 0.107422L389.99 25.9016L406.947 14.1102L466.929 72.3404L483.603 62.7604L564 149.67V255.142L-10 258.448L-1.39937 165.945Z" fill="#E5371F"/>
            <path d="M325.44 133.892L329.741 213.754L321.086 262.894L479.716 254.607L558.981 239.777C558.981 239.777 537.204 172.824 524.357 155.202C511.502 137.58 467.986 119.774 467.986 119.774C467.986 119.774 498.004 161.775 494.744 174.829C491.484 187.875 430.301 139.547 430.301 139.547C430.301 139.547 432.787 184.179 416.466 187.179C400.145 190.178 354.295 171.301 354.295 171.301L344.325 102.841L325.44 133.907V133.892Z" fill="#C83521"/>
            <path d="M219.171 219.049C224.145 210.058 250.353 102.826 250.353 102.826L241.239 182.511L277.05 133.517L281.916 162.234L258.869 249.258H-10L42.9964 157.391L111.09 133.517V147.313L105.91 191.946L197.463 100.377L208.719 107.011L219.179 219.049H219.171Z" fill="#911D30"/>
            <path d="M356.82 0.107422L315.416 86.6799L346.796 64.2372C346.796 64.2372 375.46 179.129 385.338 156.242C395.224 133.356 411.546 85.7158 416.007 108.962C420.468 132.208 455.995 130.739 447.984 103.927C439.98 77.1152 563.878 163.871 563.878 163.871L483.595 62.7604L466.922 72.3404L406.939 14.1102L389.983 25.9016L356.812 0.107422H356.82Z" fill="#E1503D"/>
            <path d="M356.82 0.107422L332.104 51.7954L358.87 17.2245L381.259 32.0231L386.876 95.2729L406.947 14.1102L389.99 25.9016L356.82 0.107422Z" fill="#F6C4A9"/>
            <path d="M406.947 14.1104L460.395 73.5802L502.962 117.723L483.603 62.7605L466.922 72.3406L406.947 14.1104Z" fill="#F6C4A9"/>
            <path d="M248.47 78.9745L228.568 64.2295L232.18 141.421L236.388 81.9893L248.47 78.9745Z" fill="#F6C4A9"/>
            </g>
            </svg>
            
          <div id="name1">
            <p>Jatin Jakhar</p>
            <p>1234567890</p>
          </div>
          <div id="name2">
            <p>Umang Naulakha</p>
            <p>0987654321</p>
          </div>
        </div>
      </div>
      <div>
        <div class="social-links">
          <span>www.sociovate.co <hr> <i class="fa fa-instagram" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Instagram</b></i><i class="fa fa-twitter" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Twitter</b></i><i class="fa fa-linkedin"  style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">LinkedIn</b></i></span>
        </div>
        <div class="social-links">
          <span>www.sociovate.co <hr> <i class="fa fa-instagram" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Instagram</b></i><i class="fa fa-twitter" style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">Twitter</b></i><i class="fa fa-linkedin"  style="margin: 0px 5px"><b style="margin: 0px 2px 0px 5px">LinkedIn</b></i></span>
        </div>
      </div>
    </section>
    <script src="{% static 'portal/scripts/script.js' %}"></script>
  </body>
</html>
