{% extends 'portal/base.html' %}
{% load static %}

{% block title %}Sociovate{% endblock %}

{% block body %}
  <section id="register">

      <div class="content">
        <h1>Password reset </h1>
        <p><span>Enter your new password twice and make sure you don't forget it again. <span></p>
    </div>

      <form method="post">
        {% csrf_token %}
        
        <div class="container">
          
          <p style="color: red;">Password must contain atleast 4 characters with 1 uppercase, 1 lowercase, 1 number, no whitespace and no special characters</p><br>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter new password" name="password" id="password" required autocomplete="off" autofocus>

          <label for="password"><b>Retype Password</b></label>
          <input type="password" placeholder="Confirm new password" name="retype_password" id="password" required autocomplete="off">
          
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div {% if message.tags %} id="{{ message.tags }}" {% endif %}>
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              </div>
            {% endfor %}
          </ul>
          {% endif %}

          <input type="submit" name="Submit" class="registerbtn" placeholder="Reset password" />
        </div>
        
      </form>
    </section>

{% endblock %}