<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/portal/timeline.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    
    <div class="cont">
        <img src="../../../staticfiles/portal/images/Timeline-tracks.png" alt="" />
        <div class="box" id="b2">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b1">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b3">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b4">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b5">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b6">09:00A.M. <br />Opening Ceremony</div>
        <div class="box" id="b7">09:00A.M. <br />Opening Ceremony</div>
      </div>
    
</body>
</html>