* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #122315;
  }
  img {
    width: 98.9vw;
    position: relative;
  }
  
  .box {
    background-color: #f3ede4;
    position: absolute;
    border-radius: 1rem;
    font-family: "clash display";
    font-size: 2rem;
    box-shadow: -0.5rem 0.5rem #044728;
    padding: 1rem 1.25rem;
    top: 0;
  }
  
  #b1 {
    top: 28vh;
    left: 28vw;
  }
  #b2 {
    top: 69vh;
    left: 43vw;
  }
  #b3 {
    top: 109vh;
    left: 23vw;
  }
  #b4 {
    top: 154vh;
    left: 50vw;
  }
  #b5 {
    top: 204vh;
    left: 45vw;
  }
  #b6 {
    top: 235vh;
    left: 14vw;
  }
  #b7 {
    top: 274vh;
    left: 46vw;
  }
  
  @media (max-width: 768px) {
    .box {
      font-size: 0.5rem;
      box-shadow: -0.25rem 0.25rem #044728;
      padding: 0.25rem 0.5rem;
    }
  }
  
  
  @media (max-width: 1440px) {
    #b1 {
      top: 24vh;
      left: 28vw;
    }
    #b2 {
      top: 62vh;
      left: 42vw;
    }
    #b3 {
      top: 97vh;
      left: 22vw;
    }
    #b4 {
      top: 138vh;
      left: 49vw;
    }
    #b5 {
      top: 182vh;
      left: 45vw;
    }
    #b6 {
      top: 210vh;
      left: 13vw;
    }
    #b7 {
      top: 245vh;
      left: 45vw;
    }
  }
  
  @media (max-width: 1024px) {
    #b1 {
      top: 17vh;
      left: 28vw;
    }
    #b2 {
      top: 38vh;
      left: 43vw;
    }
    #b3 {
      top: 62vh;
      left: 9vw;
    }
    #b4 {
      top: 89vh;
      left: 37vw;
    }
    #b5 {
      top: 123vh;
      left: 33vw;
    }
    #b6 {
      top: 140vh;
      left: 1vw;
    }
    #b7 {
      top: 167vh;
      left: 46vw;
    }
  }
  
  @media (max-width: 426px) {
    #b1 {
      top: 9vh;
      left: 28vw;
    }
    #b2 {
      top: 22vh;
      left: 43vw;
    }
    #b3 {
      top: 34vh;
      left: 24vw;
    }
    #b4 {
      top: 49vh;
      left: 51vw;
    }
    #b5 {
      top: 65vh;
      left: 46vw;
    }
    #b6 {
      top: 75vh;
      left: 15vw;
    }
    #b7 {
      top: 87vh;
      left: 46vw;
    }
  }
  
  
  @media (max-width: 320px) {
    #b1 {
      top: 6vh;
      left: 28vw;
    }
    #b2 {
      top: 16vh;
      left: 43vw;
    }
    #b3 {
      top: 25vh;
      left: 17vw;
    }
    #b4 {
      top: 36vh;
      left: 44vw;
    }
    #b5 {
      top: 48vh;
      left: 40vw;
    }
    #b6 {
      top: 56vh;
      left: 8vw;
    }
    #b7 {
      top: 65vh;
      left: 46vw;
    }
  }