

.curved-div {
    position: fixed;
    background: #ff3c00;
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

.curved-div.upper {
    background: #122315;
}

.curved-div.upper2 {
    background: #ff3c00;
    transform: rotate(180deg);
}