body {
  background-color: #00542f;
  margin: 0px;
}

.timeline {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.timeline img {
  height: 100%;
  width: 100%;
}

.image {
  position: relative;
  margin-top: -8px;
  margin-left: -8px;
}

.image img{
    width: 100vw;
  }
#b1 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -1920px;
  margin-left: 350px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b2 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -1640px;
  margin-left: 620px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b3 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -1360px;
  margin-left: 350px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b4 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -1060px;
  margin-left: 750px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b5 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -730px;
  margin-left: 670px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b6 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -520px;
  margin-left: 210px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}
#b7 {
  position: absolute;
  background-color: #f3ede4;
  width: 289px;
  height: 23px;
  border-radius: 16px;
  margin-top: -270px;
  margin-left: 670px;
  padding-bottom: 70px;
  padding-top: 20px;
  padding-left: 10px;
  font-family: "clash display";
  font-size: 25px;
  box-shadow: -8px 8px #044728;
}

.cont {
  position: relative;
}